<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kn.initialmusic.mapper.AdminMapper">


    <select id="isRepeatedByID" resultType="java.lang.String">
        select admin_ID
        from admin
        where admin_ID = #{id}
    </select>
</mapper>