<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kn.initialmusic.mapper.SongMapper">

    <insert id="saveSong">
        insert into song (song_ID, song_name, singer_ID, album_ID, song_directory, song_cover, examine)
            value (#{song_ID}, #{song_Name}, #{singer_ID}, #{album_ID}, #{song_Directory}, #{song_Cover}, 0)
    </insert>
    <insert id="likeSong">
        insert into userlike(user_ID, song_ID)
            value (#{user_ID}, #{song_ID})
    </insert>
    <delete id="deleteLikeSong">
        delete
        from userlike
        where user_ID = #{user_ID}
          and song_ID = #{song_ID}
    </delete>
    <select id="isRepeatedByID" resultType="java.lang.String">
        select Song_ID
        from song
        where Song_ID = #{id}
    </select>
    <select id="ifExistBySongDirectory" resultType="java.lang.String">
        select song_name
        from song
        where song_directory = #{directory}
    </select>
    <select id="selectSongByAlbum" resultType="com.kn.initialmusic.pojo.Song">
        select song_ID,
               song_name,
               song.singer_ID,
               singer_name,
               song.album_ID,
               album_name,
               song_directory,
               song_cover
        from song,
             album,
             singer
        where song.album_ID = #{album_ID}
          and album.album_ID = #{album_ID}
          and song.singer_ID = singer.singer_ID
          and examine = 1

    </select>
    <select id="selectSongBySinger" resultType="com.kn.initialmusic.pojo.Song">
        select song_ID,
               song_name,
               song.singer_ID,
               singer_name,
               song.album_ID,
               album.album_name as album_name,
               song_directory,
               song_cover
        from song,
             album,
             singer
        where song.singer_ID = #{singer_ID}
          and singer.singer_ID = #{singer_ID}
          and song.album_ID = album.album_ID
          and examine = 1
    </select>
    <select id="selectSongByUser" resultType="com.kn.initialmusic.pojo.Song">
        select song_ID,
               song_name,
               singer.singer_name,
               song.singer_ID,
               album.album_name,
               song.album_ID,
               song_cover,
               song_directory
        from song,
             singer,
             album
        where song.song_ID in (select userlike.song_ID
                               from userLike
                               where user_ID = #{user_ID}
                                 and song_ID is not null)
          and singer.singer_ID = song.singer_ID
          and album.album_ID = song.album_ID
          and song.examine = 1
        limit #{begin},#{size}
    </select>
    <select id="searchSong" resultType="java.lang.String">
        select song.song_name, singer.singer_name, album.album_name
        from song
                 join
             singer
                 join
             album
        where song.song_name like CONCAT('%', #{searchValue}, '%')
           or singer.singer_name like CONCAT('%', #{searchValue}, '%')
           or album.album_name like CONCAT('%', #{searchValue}, '%')
    </select>
    <select id="searchAll" resultMap="so,si,al">
        select song.song_name
        from song
        where song.song_name like CONCAT('%', #{searchValue}, '%')
          and song.examine = 1;

        select singer.singer_name
        from singer
        where singer.singer_name like CONCAT('%', #{searchValue}, '%');

        select album.album_name
        from album
        where album.album_name like CONCAT('%', #{searchValue}, '%');
    </select>
    <resultMap id="so" type="java.lang.String"/>
    <resultMap id="si" type="java.lang.String"/>
    <resultMap id="al" type="java.lang.String"/>

    <select id="selectLikeSong" resultType="java.lang.String">
        select userlike.song_ID
        from userlike
        where userlike.user_ID = #{user_ID}
          and userlike.song_ID is not null
    </select>
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*)
        from song
        where song_ID in (select userLike.song_ID
                          from userLike
                          where user_ID = #{user_ID}
                            and song_ID is not null)
    </select>

</mapper>