/*

.box_mod {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 1px #ececec;
    margin-bottom: 10px;
    padding: 20px 30px;
}

.step_mod_el {
    display: flex;
    align-items: center;
    justify-content: center;
}


!*文件上传模块*!
.upload_mod_song {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#uploadsong >>> .el-upload-dragger:hover {
    border-color: #e58c43;
}

#uploadsong >>> .el-upload-dragger .el-upload__text em {
    color: #e58c43;
}


!*上传的歌曲列表*!
.song_list_upload {
    margin-bottom: 30px;
    width: 85%;
}

.song_list {
    background-color: #f8f9fc;
    height: 60px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song_name_in {
    display: flex;
    align-items: center;
}

.song_name_in input {
    border: 1px solid #e58c43;
    border-radius: 12px;
    height: 35px;
    width: 250px;
}


.song_info {
    display: flex;
    align-items: center
}

.song_info span {
    color: #e58c43;
    font-size: 13px;
    margin-left: 20px;
    cursor: pointer;
}

.divisionLn {
    background-color: black;
    width: 1px;
    height: 15px;
    margin-left: 20px
}

!*设置专辑模块*!
.title_set_album {
    display: block;
    margin-bottom: 20px;
}

.setAlbum_mod_song {
    display: flex;
    justify-content: center;
}

.album_create_mod {
    background-color: #f8f9fc;
    width: 85%;
    border-radius: 12px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album_create_mod:hover {
    background-color: rgba(229, 140, 67, 0.1);
}

.album_create_mod label {
    font-size: 14px;
    font-family: STXihei, serif;
    cursor: pointer;
}

.album_create_mod label:hover {
    color: #e58c43;
}

!*创建专辑表单*!
.creat_album_form {
    background-color: #f8f9fc;
    width: 85%;
    border-radius: 12px;
}

.create_form_title {
    width: 100%;
    height: 100px;
    background-color: #f2f4f8;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: STXihei, serif;
}

.create_form_title span {
    cursor: pointer;
}

.create_form_title span:hover {
    color: #e58c43;
}

.creat_form_content {
    padding: 20px 30px 20px 80px;
}

!*封面上传*!
.upload_album_cover {
    width: 400px;
    height: 130px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.upload_album_cover_input {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 1px dashed;
}

.upload_album_cover_input:hover {
    border: 1px dashed #e58c43;
}

.upload_album_cover_input img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

#upaci >>> .el-upload {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

#upaci >>> .el-upload:focus {
    border-color: #e58c43;
    color: #e58c43;
}

.upload_album_cover_option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.upload_album_cover_option span {
    font-family: STXihei, serif;
    font-size: 12px;
    color: #3f3f3f;
}

#cfc >>> .el-form-item__label-wrap {
    margin-right: 20px;
}

!*名称输入框*!
#cfc >>> .el-input {
    width: 400px;
}

!*选项框*!
#cfc >>> .el-select {
    width: 400px;
}

!*简介输入框*!
#cfc >>> .el-textarea__inner {
    width: 400px;
    height: 100px;
    max-height: 150px;
}

#cfc >>> .el-textarea .el-input__count {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    bottom: 10px;
    left: 330px;
    right: inherit;
}

.album_list_mod {
    background-color: #f8f9fc;
    width: 90%;
    height: 200px;
    border-radius: 12px;
    padding: 20px 0 20px 30px;
}

.album_list_mod .el-scrollbar {
    width: 100%;
}

#alm >>> .el-scrollbar__view {
    display: flex;
    flex-wrap: wrap;
}

.creat_album_BT {
    width: 150px;
    height: 180px;
    border-radius: 12px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.creat_album_BT svg {
    cursor: pointer
}

.album_list {
    width: 150px;
    height: 180px;
    border-radius: 12px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

!*专辑选项框*!
#al >>> .el-radio__inner:hover {
    border-color: #e58c43;
}

#al >>> .el-radio__input.is-checked + .el-radio__label {
    color: #e58c43;
}

#al >>> .el-radio__input.is-checked .el-radio__inner {
    background-color: #e58c43;
    border-color: #e58c43;
}

.album_list img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}

!*承诺书模块*!
.commitment_letter {
    background-color: #f5f6fa;
    width: 100%;
    height: 600px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.letter_text {
    padding: 20px 30px;
    font-family: SimHei, serif;
}

.letter_text label {
    font-weight: 900;
    font-size: 30px;
    font-family: SimHei, serif;
    margin-bottom: 20px;
}

!*同意选项模块*!

#aCL >>> .el-checkbox.is-bordered.is-checked {
    border-color: #e58c43;
}

#aCL >>> .el-checkbox__inner:hover {
    border-color: #e58c43;
}

#aCL >>> .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #e58c43;
    border-color: #e58c43;
}

#aCL >>> .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #e58c43;
}

.tip_upload {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: SimHei, serif;
    color: #575757;
}

!*按钮模块*!
.option_next_cancel {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
*/
