/**
编辑资料模块
 */
/*头像展示*/
.editCover {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    position: absolute;
    top: 84px;
    left: 550px;
}

.editCover:hover {
    background-color: #504c4c;
    opacity: 0.6;
    z-index: 2;
    cursor: pointer;
}

.editCover img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

/*需要切换时显示*/
.changeCover {
    color: white;
    font-family: STXihei, serif;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 62px;
    left: 30px;
    display: none;
    cursor: pointer;
}

/*鼠标在头像处显示*/
.editCover:hover .changeCover {
    display: block;
}


/*编辑资料模块框架*/
.editUserInfo .el-dialog {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    background-color: #13131a;
}

/*标题*/
.editUserInfo .el-dialog__title {
    font-size: 25px;
    font-family: STXihei, serif;
    font-weight: 900;
    position: relative;
    top: 10px;
    left: 20px;
    color: white;
}


.editUserInfo .el-dialog__body {
    padding-left: 40px;
}

/*按钮位置*/
.editUserInfo .el-dialog__footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
}

/*使用id选择器提高权重，覆写组件样式 ,按钮样式*/
#edituserinfo .el-button--primary {
    margin-left: 30px;
    margin-top: 40px;
    background-color: #e58c43;
    border-color: #e58c43;
}

#edituserinfo .el-button--primary:hover {
    background-color: #fff4ea;
    border-color: #fff4ea;
    color: #e58c43;
}

#edituserinfo .el-button--default:hover {
    background-color: #fff4ea;
    border-color: #fff4ea;
    color: #e58c43;
}


/**
编辑表单
 */

/*表单文字*/
.editForm .el-form-item__label {
    color: white;
    font-family: STXihei, serif;
}

/*昵称输入框*/
#playlist_Name .el-input__inner {
    width: 300px;
}

/*表单输入框*/
.editForm .el-input__inner {
    width: 200px;
    color: black;
}


#editform .el-date-editor.el-input {
    width: 200px !important;
}

/*简介输入框*/
#eidtplaylist_introduction .el-textarea__inner {
    width: 300px;
    height: 100px;
}
