/**
筛选部分
 */
.spFirst_mod {
    width: 1684px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0c78a;
}


.screen_mod {
    width: 1400px;
    height: 200px;
    background-color: #888888;
}

/**
列表部分
 */
.spSecond_mod {
    width: 1684px;
    display: flex;
    justify-content: center;
    min-height: 600px;
}

.List_mod {
    margin-top: 15px;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.albumList_mod {
    height: 250px;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 20px;
}

.img_container {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 12px;
}


.img_container img {
    width: 220px;
    height: 220px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.img_container img:hover {
    transition: 0.5s all ease-in-out;
    transform: scale(1.1, 1.1);
}

.albumList_mod label {
    font-family: "微软雅黑 Light", serif;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: #575757;
}

.albumList_mod label:hover {
    color: #000000;
}