
body {

    min-width: 1200px;

    overflow: scroll;
    margin: 0 auto;
    background-size: cover;
    background-image: url("../photos/background/sky5.jpg");
    /*max-width:100%;*/

}

.forgetBlock_mod {
    height: 600px;
    width: 600px;
    background-color: inherit;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    backdrop-filter: blur(50px);
}

/*加载图标颜色*/
.el-loading-spinner i {
    color: #e58c43;
}

/*加载文字*/
.el-loading-spinner .el-loading-text {
    color: #e58c43;
    margin: 3px 0;
    font-size: 17px;
    font-family: STXihei, serif;
}

.logo_mod {
    width: 150px;
    height: 50px;
}

.el-form-item__label {
    font-family: STXihei, serif;
    font-size: 17px;
    color: white;
}

/*返回登陆*/
.loginLink_mod {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: smaller;
    font-family: STXihei, serif;

}

/*验证邮箱模块*/
.VerifyEmail_mod {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 450px;


}

/*名称框大小*/
.VerifyEmail_mod input {
    width: 245px;
}

/*验证码框*/

.code_mod {
    position: relative;
    top: 40px;
}

.code_mod input {
    width: 120px;
}

/*发送验证码按钮*/
.codeBT_mod {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 244px;
    top: 104px;
    border-radius: 5px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 13px;
}

.el-button--warning.is-plain.is-disabled, .el-button--warning.is-plain.is-disabled:active, .el-button--warning.is-plain.is-disabled:focus, .el-button--warning.is-plain.is-disabled:hover {
    color: #E6A23C;
}

/*设置密码模块*/
.setPass_mod {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 450px;

}

.setPass_mod input {
    width: 245px;
}

.setPass_mod .el-form-item {
    margin-bottom: 50px;
}


/*上一步按钮*/
.returnButton_mod {
    position: absolute;
    left: 130px;
    bottom: 130px;
}

/*下一步按钮*/
.nextButton_mod {
    position: absolute;
    right: 130px;
    bottom: 130px;
}

/*提交按钮*/
.submitButton_mod {
    position: absolute;
    right: 130px;
    bottom: 130px;
}