<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../css/util/bottom_mod.css">
    <link rel="stylesheet" type="text/css" href="../css/myPage.css">
</head>
<body>


<div id="app">
    <!--导航栏-->
    <div class="NavigationBar">
        <div class="header_nav">
            <div class="music_logo">
                <a href="home.html">
                    <img src="../photos/logo/AUT.png">
                </a>
            </div>
            <div class="search_mod">
                <div class="search_mod_logo">
                    <i class="el-icon-search"></i>
                </div>
                <input type="text"></input>
            </div>

            <!--上传音乐模块-->
            <div class="createMusic_mod">
                <a href="SecondaryPage/uploadMusic.html">音乐创作</a>
                <div class="createMusic_mod_b"></div>
            </div>

            <div class="login_mod">

                <div class="avatar_mod">
                    <!--头像跳转-->
                    <a href="userInfo.html" class="userAvatarA_mod">
                        <img :src="user.user_Avatar" class="avatar_mod_default">
                    </a>
                    <!--悬停框-->
                    <div class="avatar_mod_introduction">
                        <a href="home.html" class="avatar_mod_introduction_avatar">
                            <img :src="user.user_Avatar" class="avatar2_mod_default">
                        </a>
                        <div class="avatar_mod_introduction_nickname">
                            {{ user.user_Name }}
                        </div>
                        <a href="#" class="avatar_mod_introduction_exit" @click="exitLogin">退出登录</a>
                    </div>
                </div>
                <label class="nickname_mod">
                    {{ user.user_Name }}
                </label>
            </div>

            <!--todo 消息通知模块-->
            <div class="message_mod">
                <el-badge value="new" class="item">
                    <i class="el-icon-message"></i>
                </el-badge>
            </div>
            <div></div>
        </div>

        <!--todo 导航栏，尝试使用其他方法实现-->
        <div class="selection_nav">
            <ul class="top_nav">
                <li class="top_nav_item"><a href="./home.html">首页</a></li>
                <li class="top_nav_item_active"><a href="./myPage.html">我的</a></li>
                <li class="top_nav_item"><a href="./SongPlaylist.html">歌单</a></li>
                <li class="top_nav_item"><a href="./Singer.html">歌手</a></li>
                <li class="top_nav_item"><a href="./Album.html">专辑</a></li>
            </ul>
        </div>
    </div>

    <div class="myPage_mod">
        <div class="myFirst_mod">
            <div class="backgroundPage_mod"></div>
            <div class="myAvatar_mod">
                <img :src="user.user_Avatar">
            </div>
            <div class="myName">
                <label>{{ user.user_Name }}</label>
                <img id="sexLogo" src="../photos/logo/boy.png">
            </div>
            <!--todo 关注和粉丝（此功能尚未完善，有时间加以完善）-->
            <div class="followAndFans_mod" style="display: none"></div>
        </div>

        <div class="mySecond_mod">
            <div class="optionList_mod">
                <label @click="changeFlag=0" style="color: #e58c43;">歌曲</label>
                <label @click="changeFlag=1">歌单</label>
                <label @click="changeFlag=2">专辑</label>
            </div>
            <!--todo 播放和下载功能待实现-->
            <div class="buttonList_mod">
                <el-button type="warning" round>
                    播放全部
                </el-button>
                <el-button type="info" round>下载全部</el-button>
                <!--todo 批量操作待实现-->
                <!--<el-button type="info" round>批量操作</el-button>-->
            </div>
            <div class="songList_mod" v-if="changeFlag==0">
                <div class="listTitle_mod">
                    <label class="songTitle">歌曲</label>
                    <label class="singerTitle">歌手</label>
                    <label class="albumTitle">专辑</label>
                    <label class="optionTitle"></label>
                </div>
                <div class="listSong_mod" v-for="(item,index) in songList ">
                    <div class="SN">{{ index + 1 }}</div>
                    <div class="songName">
                        <img :src="item.song_Cover">
                        <label>{{ item.song_Name }}</label>
                        <!--todo 选项具体功能待实现-->
                        <div class="playAndAdd">
                            <div class="playMusic_button" @click="play(item.song_Directory)">
                                <img src="../photos/logo/playGray.png">
                            </div>
                            <div class="addPlaylist_button" @click="beforeCL(item.song_Name)">
                                <img src="../photos/logo/addGray.png">
                            </div>
                        </div>
                    </div>
                    <div class="singerName" @click="toSinger(item.singer_ID)">
                        <label>{{ item.singer_ID }}</label>
                    </div>
                    <div class="albumName" @click="toAlbum(item.album_ID)">
                        <label>{{ item.album_ID }}</label>
                    </div>
                    <div class="option_mod">
                        <!--todo 选项具体功能待实现-->
                        <div class="deleteAndDownload">
                            <div class="download_button" @click="downloadSong(item.song_Name)">
                                <img src="../photos/logo/downLoadGray.png">
                            </div>
                            <div class="delete_button" @click="deleteSong(item.song_Name)">
                                <img src="../photos/logo/deleteGary.png">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="songList_mod" v-if="changeFlag==1">
                <div class="listTitle_mod">
                    <label class="songTitle">名称</label>
                    <label class="singerTitle">创建者</label>
                    <label class="albumTitle">创建时间</label>
                    <label class="optionTitle"></label>
                </div>
                <div class="listSong_mod" v-for="(item,index) in likeList ">
                    <div class="SN">{{ index + 1 }}</div>
                    <div class="songName">
                        <img :src="item.playlist_Cover">
                        <label @click="toPlaylist(item.playlist_ID)">{{ item.playlist_Name }}</label>
                    </div>
                    <div class="singerName">
                        <label>{{ item.create_By }}</label>
                    </div>
                    <div class="albumName">
                        <label>{{ item.create_Time }}</label>
                    </div>
                </div>
            </div>
            <div class="songList_mod" v-if="changeFlag==2">
                <div class="listTitle_mod">
                    <label class="songTitle">专辑</label>
                    <label class="singerTitle">创建者</label>
                    <label class="albumTitle">创建时间</label>
                    <label class="optionTitle"></label>
                </div>
                <div class="listSong_mod" v-for="(item,index) in AlbumList ">
                    <div class="SN">{{ index + 1 }}</div>
                    <div class="songName">
                        <img :src="item.album_Cover">
                        <label @click="toAlbum(item.album_Name)">{{ item.album_Name }}</label>
                    </div>
                    <div class="singerName">
                        <label @click="toSinger(item.singer_ID)">{{ item.singer_ID }}</label>
                    </div>
                    <div class="albumName">
                        <label>{{ item.create_Time }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="player_mod">
        <audio id="playMu" controls="true" autoplay>
            <source src="" type="audio/mpeg">
        </audio>
    </div>

    <!--底部模块-->
    <div class="bottom_mod">
        <div>
            <i class="el-icon-service"></i>
            <i class="el-icon-sunny"></i>
            <i class="el-icon-sunrise"></i>
            <i class="el-icon-cloudy-and-sunny"></i>
            <i class="el-icon-partly-cloudy"></i>
            <i class="el-icon-sunny"></i>
            <i class="el-icon-light-rain"></i>
            <i class="el-icon-heavy-rain"></i>
            <i class="el-icon-lightning"></i>
            <i class="el-icon-moon"></i>
            <i class="el-icon-moon-night"></i>
        </div>
        <label>Copyright © 2003 - 2023 knx. All Rights Reserved.</label>
    </div>

    <!--收藏歌曲至歌单-->
    <div class="collectToPL">
        <el-dialog
                title="收藏"
                :visible.sync="dialogVisible"
                width="30%"
        >
            <el-form ref="CLSong" :model="CLSong" label-width="80px">
                <el-form-item label="选择歌单：">
                    <el-radio-group v-model="CLSong.playlist_ID">
                        <div v-for="item in creatList">
                            <el-radio :label=item.playlist_ID>{{ item.playlist_Name }}</el-radio>
                        </div>
                    </el-radio-group>
                </el-form-item>
                <el-form-item>
                    <el-button @click="dialogVisible=false">取消</el-button>
                    <el-button type="primary" @click="ifExistSong()">收藏</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>

</div>


<script src="../js/axios.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<script src="../js/jquery-3.7.1.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                changeFlag: 0,
                messageCode: "",
                user: {
                    user_Name: '',
                    user_ID: '',
                    user_Avatar: '../photos/logo/avatarWhite.png',
                },
                CLSong: {
                    playlist_ID: '',
                    song_Name: '',
                },
                creatList: [
                    {
                        playlist_ID: '',
                        playlist_Name: '',
                    },
                ],
                songList: [{
                    song_Name: '',
                    singer_ID: '',
                    album_ID: '',
                    song_Cover: '',
                    song_Directory: '',
                }],
                likeList: [{
                    playlist_ID: '',
                    create_By: '',
                    create_Time: '',
                    playlist_Name: '',
                    playlist_Cover: '',
                },],
                AlbumList: [{
                    album_Name: '',
                    singer_ID: '',
                    album_Cover: '',
                    create_Time: '',
                }],
            }
        },
        mounted() {
            var FUser_ID = window.sessionStorage.getItem('user_ID');
            this.selectUserDetail(FUser_ID)
            this.selectSongByUser(FUser_ID)
            this.selectCreateDetail(FUser_ID)
            this.selectLikeAlbum(FUser_ID)
            this.selectLikePlaylist(FUser_ID)
        },
        methods: {
            /*用户详情查询*/
            selectUserDetail(user_ID) {
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/user/DetailByID?user_ID=' + user_ID,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.user = resp.data.data;
                        that.changeSexLogo()
                    } else if (resp.data.code === 500) {
                        console.error(resp.data.msg)
                    }
                })
            },
            /*查询用户喜欢的歌曲列表*/
            selectSongByUser(user_ID) {
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/song/SongByUser?user_ID=' + user_ID,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.songList = resp.data.data
                    } else if (resp.data.code === 500) {
                        console.log(resp.data.msg)
                    }
                })
            },
            /*查询用户所创建的歌单*/
            selectCreateDetail(user_ID) {
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/songPlaylist/createPlaylist?user_ID=' + user_ID,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.creatList = resp.data.data
                    } else if (resp.data.code === 500) {
                        console.error(resp.data.msg)
                    }
                })
            },
            /*查询用户所收藏的歌单*/
            selectLikePlaylist(user_ID) {
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/songPlaylist/likePlaylist?user_ID=' + user_ID,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.likeList = resp.data.data
                        for (let i = 0; i < resp.data.data.length; i++) {
                            that.selectNameByCreateBY(i, resp.data.data[i].create_By)
                        }
                    } else if (resp.data.code === 500) {
                        console.error(resp.data.msg)
                    }
                })
            },
            /*查询歌单创建者的名称*/
            selectNameByCreateBY(i, user_ID) {
                console.log(user_ID)
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/user/DetailByID?user_ID=' + user_ID,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.likeList[i].create_By = resp.data.data.user_Name
                    } else if (resp.data.code === 500) {
                        console.error(resp.data.msg)
                    }
                })
            },
            /*查询用户所收藏的专辑*/
            selectLikeAlbum(user_ID) {
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/album/likeAlbum?user_ID=' + user_ID,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.AlbumList = resp.data.data
                    } else if (resp.data.code === 500) {
                        console.error(resp.data.msg)
                    }
                })
            },

            beforeCL(row) {
                let that = this;
                this.dialogVisible = true;
                that.CLSong.song_Name = row;
                console.log(that.CLSong)
            },

            /*检查歌曲是否已收藏*/
            ifExistSong() {
                let that = this;
                console.log(that.CLSong)
                axios({
                    method: 'GET',
                    url: 'http://localhost/songPlaylist/IESong?playlist_ID=' + that.CLSong.playlist_ID + '&song_Name=' + that.CLSong.song_Name,
                }).then(resp => {
                    if (resp.data.code === 302) {
                        this.$message.error(resp.data.msg)
                        that.CLSong.playlist_ID = '';
                        that.dialogVisible = false;
                    } else if (resp.data.code === 200) {
                        that.collectSongToPlaylist()
                    }
                })
            },

            /*收藏歌曲至指定歌单*/
            collectSongToPlaylist() {
                let that = this;
                axios({
                    method: 'GET',
                    url: 'http://localhost/songPlaylist/CLSong?playlist_ID=' + that.CLSong.playlist_ID + '&song_Name=' + that.CLSong.song_Name,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        that.dialogVisible = false;
                        that.CLSong.playlist_ID = '';
                        this.$message.success('收藏成功！')
                    }
                })
            },

            /*移除我喜欢*/
            deleteSong(row) {
                let that = this;
                this.$confirm('确认移除' + row + '？')
                    .then(_ => {
                        axios({
                            method: 'get',
                            url: 'http://localhost/song/deleteSong?song_name=' + row + "&user_ID=" + that.user.user_ID,
                        }).then(resp => {
                            if (resp.data.code === 200) {
                                that.selectSongByUser(that.user.user_ID)
                            } else if (resp.data.code === 500) {
                                console.log(resp.data.msg)
                            }
                        })
                    })
                    .catch(_ => {
                    });

            },
            /*退出登录*/
            exitLogin() {
                location.href = "http://localhost/music/LRF/SignIn.html";
                window.sessionStorage.setItem('user_ID', null);
            },

            /*专辑详情跳转*/
            toAlbum(row) {
                location.href = "/music/SecondaryPage/AlbumDetail.html";
                window.sessionStorage.setItem('album_Name', row);
            },
            /*歌手详情跳转*/
            toSinger(row) {
                location.href = "/music/SecondaryPage/SingerDetail.html";
                window.sessionStorage.setItem('singer_ID', row);
            },
            toPlaylist(row) {
                location.href = "/music/SecondaryPage/songPlaylistsDetail.html";
                window.sessionStorage.setItem('playlist_ID', row);
            },

            /*todo 音乐播放*/
            play(song_Directory) {
                setTimeout(($('.player_mod').css("display", "block")), 1000)
                $('audio').attr("src", song_Directory)
                console.log($('audio'));
            },
            /*不同的性别对应不同的logo*/
            changeSexLogo() {
                let that = this;
                switch (this.user.user_Sex) {
                    case '男':
                        $('#sexLogo').attr("src", "../photos/logo/boy.png")
                        break
                    case '女':
                        $('#sexLogo').attr("src", "../photos/logo/girl.png")
                        break
                    case '外星人':
                        $('#sexLogo').attr("src", "../photos/logo/alien.png")
                        break
                    case '沃尔玛':
                        $('#sexLogo').attr("src", "../photos/logo/wal.png")
                        break
                    case '不被定义的':
                        $('#sexLogo').attr("src", "../photos/logo/alien.png")
                        break
                }
            },

            downloadSong(row) {
                window.location.href = url;
            },
        }
    })
</script>
</body>
</html>