.upload_page {
    width: 1684px;
    height: 903px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../photos/background/createMu.jpg");
    background-size: cover;
}

/*上传歌曲模块*/
.uploadSong_mod {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.uploadSong_mod .el-form-item__label {
    color: #FFFFFF;
}

.uploadSong_mod .el-input__inner {
    width: 200px;
}

.songUpInfo_mod {
    margin-top: 20px;
}

.upTitle {
    display: block;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 25px;
    font-family: 仿宋, serif;
    margin-bottom: 35px;
    height: 30px;
    width: 190px;
}

/*上传文件模块*/
.upload_mod {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
}

/*歌曲封面*/
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.avatar-uploader {
    margin-bottom: 30px;
}

.avatar-uploader .el-upload:hover {
    border-color: #e58c43;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    line-height: 178px;
    text-align: center;
}

.Cover {
    width: 178px;
    height: 178px;
    border-radius: 50%;
    display: block;
}


/*歌曲上传文件*/
.upload-demo .el-upload {
    position: relative;
    left: 45px;
}

.upload-demo .el-upload__tip{
    color: #FFFFFF;
}

/*进度条*/
#upPer {
    width: 192px;
    display: none;
}

.returnHome {
    position: absolute;
    top: 10px;
    right: 15px;
}

.upAl {
    position: absolute;
    bottom: 20px;
    right: 15px;
}